{
{{- if .enableJbProxy }}
  "apiKeyHelper": "jbcentral proxy start --ensure-updated --return-key",
{{- end }}
  "env": {
{{- if .enableJbProxy }}
    "ANTHROPIC_BASE_URL": "{{ .jbProxyBaseUrl }}",
{{- end }}
    "ENABLE_PROMPT_CACHING_1H": "1",
    "ENABLE_TOOL_SEARCH": "true"
  },
  "model": "opus",
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "alwaysThinkingEnabled": true,
  "effortLevel": "high",
  "theme": "dark",
  "skipAutoPermissionPrompt": true
}
